@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}
body {
  background-color: #ffffff;
  color: #1c1c1c;
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
main {
  height: 100%;
  padding: 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.g_card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.g_profile {
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 50%;
  border: 6px solid #fff;
}
ul li span {
  color: #6c6a6a;
  font-size: 0.75rem;
}
.card__dark h4,
.card__dark p,
.card__dark ul li {
  color: #fff;
}
.card__dark h3,
.card__dark ul li span {
  color: #fff;
  opacity: 0.9;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
